@charset "UTF-8";
body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif; }

.imgbox {
  display: flex;
  align-items: center;
  margin: 0; }
  .imgbox img {
    width: 100%; }

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

header .banner {
  background: #fff3f3; }

footer {
  background: black;
  color: white; }
  footer .banner {
    justify-content: flex-end; }
  footer p {
    text-align: center; }

.navlist-top, .navlist-bot {
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-left: 1rem; }
  .navlist-top li, .navlist-bot li {
    display: inline-block;
    margin-right: 2rem; }
  .navlist-top a, .navlist-bot a {
    text-decoration: none;
    color: white; }

.navlist-top {
  background: #8e1616;
  font-size: 1.3rem; }

.navlist-bot {
  background: black;
  font-size: 1rem; }

.nicetiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 2rem; }
  .nicetiles .item {
    flex: 1;
    flex-basis: 35vw;
    margin: 3vh 2vw;
    padding: 2rem;
    box-shadow: 0 2px 2px 2px #7b7b7b;
    border-top: 2px solid black; }
    .nicetiles .item h2 {
      white-space: nowrap;
      margin-bottom: 0; }
    .nicetiles .item p {
      font-style: italic;
      margin-top: 0;
      font-size: 1.2rem; }
    .nicetiles .item ul {
      list-style: none;
      margin-left: 1.3rem;
      padding-left: 0; }
    .nicetiles .item li {
      padding-left: 1em;
      text-indent: -1em; }
    .nicetiles .item li:before {
      padding-right: 5px;
      content: '✔';
      color: #90d2d4;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px; }

input:focus::placeholder {
  color: transparent; }
