@import 'var'

body
  margin: 0
  font-family: $font

.imgbox
  display: flex
  align-items: center
  margin: 0

  img
    width: 100%

.banner
  display: flex
  justify-content: space-between
  align-items: center
  padding: $small

header
  .banner
    background: $accent2
    // min-height: $verybig

footer
  background: black
  color: white

  .banner
    justify-content: flex-end

  p
    text-align: center

%navlist
  font-weight: bold
  margin: 0
  padding: 0
  padding-left: $small
  li
    display: inline-block
    margin-right: $big
  a
    text-decoration: none
    color: white

.navlist-top
  @extend %navlist
  background: $accent1
  font-size: $medium

.navlist-bot
  @extend %navlist
  background: black
  font-size: $small

#banner2
  flex: 1
  background: linear-gradient(transparent,$shade 50%)
  font-size: 3.3vmin
  display: flex
  justify-content: center
  align-items: flex-end
  text-transform: capitalize
  text-align: center
  font-style: italic
  // padding-top: $big

.nicetiles
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  font-size: $medium
  
  .item
    flex: 1
    margin: 10vh 5vw
    box-shadow: 0 2px 2px 2px $shade0
    border-top: 2px solid black
